resources/** filter=lfs diff=lfs merge=lfs -text
resources/**/.gitattributes -filter -diff -merge text
resources/**/.gitignore -filter -diff -merge text
resources/**/.gitattributes !text -filter -merge -diff
resources/**/.gitignore !text -filter -merge -diff
